/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/exports
/storage/app/item
/storage/app/public
/public/storage
/public/family_tree_image
.DS_Store
.rnd