@charset "UTF-8";
@import url(fonticon.css);
* {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

a, input, button {
  outline: none; }

img {
  border: 0; }

/*img[src=""]{
  @include opacity(0,0);
}*/
input[type="button"], input[type="text"], input[type="submit"], input[type="reset"], input[type="number"], textarea, select {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none; }

input[type='checkbox'], input[type='radio'], button {
  cursor: pointer; }

.hint {
  display: none;
  width: auto;
  font-size: 14px;
  color: red;
  text-indent: 25px; }

.must {
  color: red;
  margin-right: 3px; }

.screen {
  display: none;
  position: fixed;
  z-index: 1000050;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

.scrn {
  display: none;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

.popup {
  display: none;
  position: fixed;
  z-index: 1000090;
  width: 400px;
  left: 50%;
  top: 50%;
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center; }
  .popup > .icon_check_alt2 {
    padding-top: 20px;
    color: #A5DC86;
    font-size: 100px;
    text-align: center; }
  .popup > .icon_close_alt2 {
    display: none;
    padding-top: 20px;
    color: red;
    font-size: 100px;
    text-align: center; }
  .popup > .icon_info_alt {
    padding-top: 20px;
    color: #F3DF68;
    font-size: 100px;
    text-align: center; }
  .popup > .pop-text {
    font-size: 16px;
    color: #333;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px 20px 30px 20px; }
  .popup > .pop-password {
    display: none;
    margin: 0px auto 30px auto;
    width: 230px;
    padding-left: 10px;
    height: 40px;
    font-size: 14px;
    border: 1px #dedede solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white; }
  .popup > .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px #dedede solid; }
    .popup > .button > .sure {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -moz-box-flex: 1;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 18px 0px;
      text-align: center;
      font-size: 16px;
      background-color: white; }
    .popup > .button > .sure + .sure {
      border-left: 1px #dedede solid; }
    .popup > .button > .sure1 {
      background-color: #00a2e9;
      color: white;
      -moz-border-radius: 0px 0px 0px 5px;
      -webkit-border-radius: 0px 0px 0px 5px;
      border-radius: 0px 0px 0px 5px; }
      .popup > .button > .sure1:hover {
        background-color: #00A8F2; }
    .popup > .button > .sure2 {
      color: black;
      -moz-border-radius: 0px 0px 5px 0px;
      -webkit-border-radius: 0px 0px 5px 0px;
      border-radius: 0px 0px 5px 0px; }
      .popup > .button > .sure2:hover {
        background-color: #efefef; }

#pop {
  z-index: 1000030; }
  #pop > .pop-text {
    padding: 20px; }

@-webkit-keyframes rad1 {
  form {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-360deg) translate(0, -16px);
    -ms-transform: rotate(-360deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-360deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-360deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad1 {
  form {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-360deg) translate(0, -16px);
    -ms-transform: rotate(-360deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-360deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-360deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad1 {
  form {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-360deg) translate(0, -16px);
    -ms-transform: rotate(-360deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-360deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-360deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad1 {
  form {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-360deg) translate(0, -16px);
    -ms-transform: rotate(-360deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-360deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-360deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad1 {
  form {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-360deg) translate(0, -16px);
    -ms-transform: rotate(-360deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-360deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-360deg) translate(0, -16px);
    /* Firefox */ } }
@-webkit-keyframes rad2 {
  form {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-345deg) translate(0, -16px);
    -ms-transform: rotate(-345deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-345deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-345deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-345deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad2 {
  form {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-345deg) translate(0, -16px);
    -ms-transform: rotate(-345deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-345deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-345deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-345deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad2 {
  form {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-345deg) translate(0, -16px);
    -ms-transform: rotate(-345deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-345deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-345deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-345deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad2 {
  form {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-345deg) translate(0, -16px);
    -ms-transform: rotate(-345deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-345deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-345deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-345deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad2 {
  form {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-345deg) translate(0, -16px);
    -ms-transform: rotate(-345deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-345deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-345deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-345deg) translate(0, -16px);
    /* Firefox */ } }
@-webkit-keyframes rad3 {
  form {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-330deg) translate(0, -16px);
    -ms-transform: rotate(-330deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-330deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-330deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-330deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad3 {
  form {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-330deg) translate(0, -16px);
    -ms-transform: rotate(-330deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-330deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-330deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-330deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad3 {
  form {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-330deg) translate(0, -16px);
    -ms-transform: rotate(-330deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-330deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-330deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-330deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad3 {
  form {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-330deg) translate(0, -16px);
    -ms-transform: rotate(-330deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-330deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-330deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-330deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad3 {
  form {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-330deg) translate(0, -16px);
    -ms-transform: rotate(-330deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-330deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-330deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-330deg) translate(0, -16px);
    /* Firefox */ } }
@-webkit-keyframes rad4 {
  form {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-315deg) translate(0, -16px);
    -ms-transform: rotate(-315deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-315deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-315deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-315deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad4 {
  form {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-315deg) translate(0, -16px);
    -ms-transform: rotate(-315deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-315deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-315deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-315deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad4 {
  form {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-315deg) translate(0, -16px);
    -ms-transform: rotate(-315deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-315deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-315deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-315deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad4 {
  form {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-315deg) translate(0, -16px);
    -ms-transform: rotate(-315deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-315deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-315deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-315deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad4 {
  form {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-315deg) translate(0, -16px);
    -ms-transform: rotate(-315deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-315deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-315deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-315deg) translate(0, -16px);
    /* Firefox */ } }
@-webkit-keyframes rad5 {
  form {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-300deg) translate(0, -16px);
    -ms-transform: rotate(-300deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-300deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-300deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-300deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad5 {
  form {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-300deg) translate(0, -16px);
    -ms-transform: rotate(-300deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-300deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-300deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-300deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad5 {
  form {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-300deg) translate(0, -16px);
    -ms-transform: rotate(-300deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-300deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-300deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-300deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad5 {
  form {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-300deg) translate(0, -16px);
    -ms-transform: rotate(-300deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-300deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-300deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-300deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad5 {
  form {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-300deg) translate(0, -16px);
    -ms-transform: rotate(-300deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-300deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-300deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-300deg) translate(0, -16px);
    /* Firefox */ } }
@-webkit-keyframes rad6 {
  form {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-285deg) translate(0, -16px);
    -ms-transform: rotate(-285deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-285deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-285deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-285deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad6 {
  form {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-285deg) translate(0, -16px);
    -ms-transform: rotate(-285deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-285deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-285deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-285deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad6 {
  form {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-285deg) translate(0, -16px);
    -ms-transform: rotate(-285deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-285deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-285deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-285deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad6 {
  form {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-285deg) translate(0, -16px);
    -ms-transform: rotate(-285deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-285deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-285deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-285deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad6 {
  form {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-285deg) translate(0, -16px);
    -ms-transform: rotate(-285deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-285deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-285deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-285deg) translate(0, -16px);
    /* Firefox */ } }
.loadingz {
  width: 35px;
  height: 35px;
  position: relative; }
  .loadingz > div {
    width: 3px;
    height: 3px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px black solid;
    position: absolute;
    top: 16px;
    left: 16px; }
  .loadingz > div:nth-of-type(1) {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad1 2.5s 0s infinite;
    -moz-animation: rad1 2.5s 0s infinite;
    -ms-animation: rad1 2.5s 0s infinite;
    -o-animation: rad1 2.5s 0s infinite;
    animation: rad1 2.5s 0s infinite; }
  .loadingz > div:nth-of-type(2) {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad2 2.5s 0.15s infinite;
    -moz-animation: rad2 2.5s 0.15s infinite;
    -ms-animation: rad2 2.5s 0.15s infinite;
    -o-animation: rad2 2.5s 0.15s infinite;
    animation: rad2 2.5s 0.15s infinite; }
  .loadingz > div:nth-of-type(3) {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad3 2.5s 0.3s infinite;
    -moz-animation: rad3 2.5s 0.3s infinite;
    -ms-animation: rad3 2.5s 0.3s infinite;
    -o-animation: rad3 2.5s 0.3s infinite;
    animation: rad3 2.5s 0.3s infinite; }
  .loadingz > div:nth-of-type(4) {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad4 2.5s 0.45s infinite;
    -moz-animation: rad4 2.5s 0.45s infinite;
    -ms-animation: rad4 2.5s 0.45s infinite;
    -o-animation: rad4 2.5s 0.45s infinite;
    animation: rad4 2.5s 0.45s infinite; }
  .loadingz > div:nth-of-type(5) {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad5 2.5s 0.6s infinite;
    -moz-animation: rad5 2.5s 0.6s infinite;
    -ms-animation: rad5 2.5s 0.6s infinite;
    -o-animation: rad5 2.5s 0.6s infinite;
    animation: rad5 2.5s 0.6s infinite; }
  .loadingz > div:nth-of-type(6) {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad6 2.5s 0.75s infinite;
    -moz-animation: rad6 2.5s 0.75s infinite;
    -ms-animation: rad6 2.5s 0.75s infinite;
    -o-animation: rad6 2.5s 0.75s infinite;
    animation: rad6 2.5s 0.75s infinite; }

@media only screen and (max-width: 600px) {
  .popup {
    width: 90%;
    left: 50%;
    top: 50%; }
    .popup > .icon_check_alt2 {
      padding-top: 5%;
      color: #A5DC86; }
    .popup > .icon_close_alt2 {
      padding-top: 5%; }
    .popup > .icon_info_alt {
      padding-top: 5%; }
    .popup > .pop-text {
      font-size: 14px; }
    .popup > .pop-password {
      width: 80%; }
    .popup > .button > .sure {
      padding: 5% 0; }
    .popup > .button > .fs {
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-top: 5%;
      margin-right: 10%;
      font-size: 1.4rem;
      color: #00a2e9;
      text-decoration: underline; } }
html {
  height: 100%; }

body {
  height: 100%;
  background: url("../images/PC-LoginBack.jpg") no-repeat center; }

.login {
  width: 480px;
  padding-top: 160px;
  margin-left: auto;
  margin-right: auto; }

.login-title {
  font-size: 30px;
  color: #555555;
  letter-spacing: 15px;
  text-indent: 15px;
  text-shadow: 1px 1px 2px #2BB3FF;
  text-align: center;
  padding-bottom: 15px; }

.login-form {
  background: white;
  padding: 20px 20px 50px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 1px 0px 3px 1px #7bcbee;
  -webkit-box-shadow: 1px 0px 3px 1px #7bcbee;
  box-shadow: 1px 0px 3px 1px #7bcbee; }

.login-form-cell {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.login-form-icon {
  font-size: 24px;
  color: #5fa2d3; }

.login-form-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: inline-block;
  height: 35px;
  color: #555555;
  border: none;
  border-bottom: 1px #7bcbee solid;
  padding-left: 10px;
  font-size: 16px;
  background-color: white;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important; }

.hints {
  font-size: 16px;
  color: red;
  text-align: center;
  padding-bottom: 5px; }

.hint {
  margin-left: auto;
  margin-right: auto;
  width: 350px; }

.login-form-code {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%; }

.login-form-codeImg {
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 30%; }

.login-form-label {
  height: 30px;
  line-height: 30px; }

.login-form-input {
  display: none; }
  .login-form-input:checked + .login-form-check {
    background-color: #5fa2d3; }
  .login-form-input:checked + .login-form-radio {
    color: #5fa2d3; }

.login-form-check {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px #5fa2d3 solid;
  color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer; }

.login-form-remeberText {
  margin-left: 8px;
  color: #555555;
  cursor: pointer; }

.login-form-cell1 {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.login-form-label1 {
  height: 30px;
  line-height: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.login-form-radio {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border: 1px #5fa2d3 solid;
  color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px; }

.login-form-radioText {
  margin-left: 8px;
  color: #555555;
  cursor: pointer; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #7bcbee; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #7bcbee; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7bcbee; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #7bcbee; }

.login-form-submit {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 45px;
  line-height: 45px;
  border: none;
  background-color: #5fa2d3;
  color: white;
  font-size: 16px;
  text-align: center;
  letter-spacing: 8px;
  text-indent: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }
  .login-form-submit:hover {
    background-color: rgba(99, 169, 220, 0.9); }

@media only screen and (max-width: 600px) {
  body {
    background: url("../images/Mobile-LoginBack.jpg") no-repeat center; }

  .login {
    width: 95%;
    padding-top: 50px; }

  .login-form {
    padding: 30px 30px 60px 30px; }

  .login-form-cell, .hint, .login-form-cell1, .login-form-submit {
    width: 100%; }

  .login-form-cell {
    margin-top: 30px; }

  .login-form-code {
    width: 60%; }

  .login-form-item {
    width: 100%; } }

/*# sourceMappingURL=login.css.map */
