@charset "UTF-8";
@import url(../../css/fonticon.css);
* {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

a, input, button {
  outline: none; }

img {
  border: 0; }

/*img[src=""]{
  @include opacity(0,0);
}*/
input[type="button"], input[type="text"], input[type="submit"], input[type="reset"], input[type="number"], textarea, select {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none; }

input[type='checkbox'], input[type='radio'], button {
  cursor: pointer; }

.hint {
  display: none;
  width: auto;
  font-size: 14px;
  color: red;
  text-indent: 25px; }

.must {
  color: red;
  margin-right: 3px; }

.screen {
  display: none;
  position: fixed;
  z-index: 1000050;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

.scrn {
  display: none;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

.popup {
  display: none;
  position: fixed;
  z-index: 1000090;
  width: 400px;
  left: 50%;
  top: 50%;
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center; }
  .popup > .icon_check_alt2 {
    padding-top: 20px;
    color: #A5DC86;
    font-size: 100px;
    text-align: center; }
  .popup > .icon_close_alt2 {
    display: none;
    padding-top: 20px;
    color: red;
    font-size: 100px;
    text-align: center; }
  .popup > .icon_info_alt {
    padding-top: 20px;
    color: #F3DF68;
    font-size: 100px;
    text-align: center; }
  .popup > .pop-text {
    font-size: 16px;
    color: #333;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px 20px 30px 20px; }
  .popup > .pop-password {
    display: none;
    margin: 0px auto 30px auto;
    width: 230px;
    padding-left: 10px;
    height: 40px;
    font-size: 14px;
    border: 1px #dedede solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white; }
  .popup > .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px #dedede solid; }
    .popup > .button > .sure {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -moz-box-flex: 1;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 18px 0px;
      text-align: center;
      font-size: 16px;
      background-color: white; }
    .popup > .button > .sure + .sure {
      border-left: 1px #dedede solid; }
    .popup > .button > .sure1 {
      background-color: #00a2e9;
      color: white;
      -moz-border-radius: 0px 0px 0px 5px;
      -webkit-border-radius: 0px 0px 0px 5px;
      border-radius: 0px 0px 0px 5px; }
      .popup > .button > .sure1:hover {
        background-color: #00A8F2; }
    .popup > .button > .sure2 {
      color: black;
      -moz-border-radius: 0px 0px 5px 0px;
      -webkit-border-radius: 0px 0px 5px 0px;
      border-radius: 0px 0px 5px 0px; }
      .popup > .button > .sure2:hover {
        background-color: #efefef; }

#pop {
  z-index: 1000030; }
  #pop > .pop-text {
    padding: 20px; }

@-webkit-keyframes rad1 {
  form {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-360deg) translate(0, -16px);
    -ms-transform: rotate(-360deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-360deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-360deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad1 {
  form {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-360deg) translate(0, -16px);
    -ms-transform: rotate(-360deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-360deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-360deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad1 {
  form {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-360deg) translate(0, -16px);
    -ms-transform: rotate(-360deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-360deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-360deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad1 {
  form {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-360deg) translate(0, -16px);
    -ms-transform: rotate(-360deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-360deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-360deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad1 {
  form {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-360deg) translate(0, -16px);
    -ms-transform: rotate(-360deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-360deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-360deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-360deg) translate(0, -16px);
    /* Firefox */ } }
@-webkit-keyframes rad2 {
  form {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-345deg) translate(0, -16px);
    -ms-transform: rotate(-345deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-345deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-345deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-345deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad2 {
  form {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-345deg) translate(0, -16px);
    -ms-transform: rotate(-345deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-345deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-345deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-345deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad2 {
  form {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-345deg) translate(0, -16px);
    -ms-transform: rotate(-345deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-345deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-345deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-345deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad2 {
  form {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-345deg) translate(0, -16px);
    -ms-transform: rotate(-345deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-345deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-345deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-345deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad2 {
  form {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-345deg) translate(0, -16px);
    -ms-transform: rotate(-345deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-345deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-345deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-345deg) translate(0, -16px);
    /* Firefox */ } }
@-webkit-keyframes rad3 {
  form {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-330deg) translate(0, -16px);
    -ms-transform: rotate(-330deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-330deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-330deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-330deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad3 {
  form {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-330deg) translate(0, -16px);
    -ms-transform: rotate(-330deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-330deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-330deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-330deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad3 {
  form {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-330deg) translate(0, -16px);
    -ms-transform: rotate(-330deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-330deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-330deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-330deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad3 {
  form {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-330deg) translate(0, -16px);
    -ms-transform: rotate(-330deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-330deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-330deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-330deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad3 {
  form {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-330deg) translate(0, -16px);
    -ms-transform: rotate(-330deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-330deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-330deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-330deg) translate(0, -16px);
    /* Firefox */ } }
@-webkit-keyframes rad4 {
  form {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-315deg) translate(0, -16px);
    -ms-transform: rotate(-315deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-315deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-315deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-315deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad4 {
  form {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-315deg) translate(0, -16px);
    -ms-transform: rotate(-315deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-315deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-315deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-315deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad4 {
  form {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-315deg) translate(0, -16px);
    -ms-transform: rotate(-315deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-315deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-315deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-315deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad4 {
  form {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-315deg) translate(0, -16px);
    -ms-transform: rotate(-315deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-315deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-315deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-315deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad4 {
  form {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-315deg) translate(0, -16px);
    -ms-transform: rotate(-315deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-315deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-315deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-315deg) translate(0, -16px);
    /* Firefox */ } }
@-webkit-keyframes rad5 {
  form {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-300deg) translate(0, -16px);
    -ms-transform: rotate(-300deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-300deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-300deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-300deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad5 {
  form {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-300deg) translate(0, -16px);
    -ms-transform: rotate(-300deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-300deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-300deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-300deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad5 {
  form {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-300deg) translate(0, -16px);
    -ms-transform: rotate(-300deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-300deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-300deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-300deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad5 {
  form {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-300deg) translate(0, -16px);
    -ms-transform: rotate(-300deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-300deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-300deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-300deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad5 {
  form {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-300deg) translate(0, -16px);
    -ms-transform: rotate(-300deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-300deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-300deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-300deg) translate(0, -16px);
    /* Firefox */ } }
@-webkit-keyframes rad6 {
  form {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-285deg) translate(0, -16px);
    -ms-transform: rotate(-285deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-285deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-285deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-285deg) translate(0, -16px);
    /* Firefox */ } }
@-moz-keyframes rad6 {
  form {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-285deg) translate(0, -16px);
    -ms-transform: rotate(-285deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-285deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-285deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-285deg) translate(0, -16px);
    /* Firefox */ } }
@-ms-keyframes rad6 {
  form {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-285deg) translate(0, -16px);
    -ms-transform: rotate(-285deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-285deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-285deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-285deg) translate(0, -16px);
    /* Firefox */ } }
@-o-keyframes rad6 {
  form {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-285deg) translate(0, -16px);
    -ms-transform: rotate(-285deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-285deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-285deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-285deg) translate(0, -16px);
    /* Firefox */ } }
@keyframes rad6 {
  form {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */ }
  to {
    transform: rotate(-285deg) translate(0, -16px);
    -ms-transform: rotate(-285deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(-285deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(-285deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(-285deg) translate(0, -16px);
    /* Firefox */ } }
.loadingz {
  width: 35px;
  height: 35px;
  position: relative; }
  .loadingz > div {
    width: 3px;
    height: 3px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px black solid;
    position: absolute;
    top: 16px;
    left: 16px; }
  .loadingz > div:nth-of-type(1) {
    transform: rotate(0deg) translate(0, -16px);
    -ms-transform: rotate(0deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(0deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(0deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad1 2.5s 0s infinite;
    -moz-animation: rad1 2.5s 0s infinite;
    -ms-animation: rad1 2.5s 0s infinite;
    -o-animation: rad1 2.5s 0s infinite;
    animation: rad1 2.5s 0s infinite; }
  .loadingz > div:nth-of-type(2) {
    transform: rotate(15deg) translate(0, -16px);
    -ms-transform: rotate(15deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(15deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(15deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(15deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad2 2.5s 0.15s infinite;
    -moz-animation: rad2 2.5s 0.15s infinite;
    -ms-animation: rad2 2.5s 0.15s infinite;
    -o-animation: rad2 2.5s 0.15s infinite;
    animation: rad2 2.5s 0.15s infinite; }
  .loadingz > div:nth-of-type(3) {
    transform: rotate(30deg) translate(0, -16px);
    -ms-transform: rotate(30deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(30deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(30deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(30deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad3 2.5s 0.3s infinite;
    -moz-animation: rad3 2.5s 0.3s infinite;
    -ms-animation: rad3 2.5s 0.3s infinite;
    -o-animation: rad3 2.5s 0.3s infinite;
    animation: rad3 2.5s 0.3s infinite; }
  .loadingz > div:nth-of-type(4) {
    transform: rotate(45deg) translate(0, -16px);
    -ms-transform: rotate(45deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(45deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(45deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad4 2.5s 0.45s infinite;
    -moz-animation: rad4 2.5s 0.45s infinite;
    -ms-animation: rad4 2.5s 0.45s infinite;
    -o-animation: rad4 2.5s 0.45s infinite;
    animation: rad4 2.5s 0.45s infinite; }
  .loadingz > div:nth-of-type(5) {
    transform: rotate(60deg) translate(0, -16px);
    -ms-transform: rotate(60deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(60deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(60deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(60deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad5 2.5s 0.6s infinite;
    -moz-animation: rad5 2.5s 0.6s infinite;
    -ms-animation: rad5 2.5s 0.6s infinite;
    -o-animation: rad5 2.5s 0.6s infinite;
    animation: rad5 2.5s 0.6s infinite; }
  .loadingz > div:nth-of-type(6) {
    transform: rotate(75deg) translate(0, -16px);
    -ms-transform: rotate(75deg) translate(0, -16px);
    /* IE 9 */
    -webkit-transform: rotate(75deg) translate(0, -16px);
    /* Safari 和 Chrome */
    -o-transform: rotate(75deg) translate(0, -16px);
    /* Opera */
    -moz-transform: rotate(75deg) translate(0, -16px);
    /* Firefox */
    -webkit-animation: rad6 2.5s 0.75s infinite;
    -moz-animation: rad6 2.5s 0.75s infinite;
    -ms-animation: rad6 2.5s 0.75s infinite;
    -o-animation: rad6 2.5s 0.75s infinite;
    animation: rad6 2.5s 0.75s infinite; }

@media only screen and (max-width: 600px) {
  .popup {
    width: 90%;
    left: 50%;
    top: 50%; }
    .popup > .icon_check_alt2 {
      padding-top: 5%;
      color: #A5DC86; }
    .popup > .icon_close_alt2 {
      padding-top: 5%; }
    .popup > .icon_info_alt {
      padding-top: 5%; }
    .popup > .pop-text {
      font-size: 14px; }
    .popup > .pop-password {
      width: 80%; }
    .popup > .button > .sure {
      padding: 5% 0; }
    .popup > .button > .fs {
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-top: 5%;
      margin-right: 10%;
      font-size: 1.4rem;
      color: #00a2e9;
      text-decoration: underline; } }
body {
  background-color: #e9ecf2;
  min-width: 1200px; }

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100000;
  background-color: white;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.logo {
  width: 230px;
  padding: 0px 20px;
  font-size: 22px;
  color: #5fa2d3;
  text-shadow: 1px 1px 1px #7bcbee;
  text-align: center; }

.header-handle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 20px;
  padding-right: 40px; }
  .header-handle > li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: #999999; }
    .header-handle > li:hover {
      background-color: #f6f7f9; }
    .header-handle > li > .header-name {
      display: inline-block;
      max-width: 90px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .header-handle > li > .header-store {
      display: inline-block;
      max-width: 110px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .header-handle > li > .icon_profile {
      font-size: 20px;
      color: #63c4d1; }
    .header-handle > li > .icon_house, .header-handle > li > .icon_house_alt {
      font-size: 20px;
      color: #63c4d1; }
    .header-handle > li > .arrow_back {
      font-size: 24px;
      font-weight: bolder;
      color: #628cb7; }
    .header-handle > li > .icon_refresh {
      font-size: 18px;
      color: #844ba8; }
    .header-handle > li > .icon_target {
      font-size: 20px;
      color: #de7378; }
    .header-handle > li > span + span {
      margin-left: 5px; }

.out {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.nav {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: white;
  height: auto;
  width: 230px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }
  .nav > ul {
    padding: 30px 0px;
    width: 233px;
    margin-left: -3px; }
    .nav > ul > li {
      height: 50px;
      color: #96a0a8;
      border-left: 3px transparent solid; }
      .nav > ul > li:hover {
        background-color: #F3F6F9;
        border-left: 3px #699ACA solid; }
      .nav > ul > li > a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        padding: 0px 20px;
        height: 100%; }
        .nav > ul > li > a > .nav-text {
          color: #96a0a8; }
        .nav > ul > li > a > .nav-icon {
          font-size: 20px;
          color: #abbdcb;
          margin-right: 15px; }
    .nav > ul > .choice {
      background-color: #F3F6F9;
      border-left: 3px #699ACA solid; }
      .nav > ul > .choice > a > span {
        color: #689bcc; }

.content {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background-color: white;
  margin-left: 20px;
  padding: 0px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.index-search {
  padding: 15px 0px;
  border-bottom: 1px #eef1f5 solid;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.index-text {
  font-size: 18px;
  color: #61c3d0; }

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .search > .search-select {
    background-color: #f5f7fa;
    border: 1px #c3cad7 solid;
    height: 38px;
    font-size: 14px;
    color: #75787a;
    padding: 0px 10px;
    -webkit-appearance: none;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px; }
  .search > .search-input {
    width: 150px;
    height: 36px;
    font-size: 14px;
    padding-left: 10px;
    border: none;
    border-top: 1px #c3cad7 solid;
    border-bottom: 1px #c3cad7 solid; }
  .search > .search-submit {
    width: 70px;
    height: 38px;
    font-size: 14px;
    color: #75787a;
    background-color: #f5f7fa;
    border: 1px #c3cad7 solid;
    cursor: pointer;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px; }

.bill {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding-top: 15px; }

.bill-cell {
  padding-left: 20px;
  padding-right: 20px; }
  .bill-cell > span:first-of-type {
    font-size: 14px;
    color: #abadaf; }

.bill-cells {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px #C3CAD7 solid; }
  .bill-cells > .filterWarn {
    border: none;
    background-color: white;
    font-size: 14px;
    color: #abadaf; }
    .bill-cells > .filterWarn:hover {
      color: red; }
  .bill-cells > .choice {
    color: red; }

.bill-cell + .bill-cell {
  border-left: 1px #C3CAD7 solid; }

.table-out {
  padding-bottom: 30px; }

.table-handle {
  padding: 15px 0px; }

.table-hint {
  font-size: 14px;
  color: red;
  padding-bottom: 15px; }

.handle-cell {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  vertical-align: middle;
  padding: 0px 10px;
  height: 35px;
  font-size: 14px;
  color: white;
  cursor: pointer; }
  .handle-cell > .icon_plus {
    font-size: 20px;
    font-weight: bolder; }

.handle-add {
  background-color: #75b668; }
  .handle-add:hover {
    background-color: #64a756; }

.handle-delete {
  background-color: #ce5a52; }
  .handle-delete:hover {
    background-color: #c74238; }

.handle-get {
  background-color: #e58039; }
  .handle-get:hover {
    background-color: #d26f2d; }
  .handle-get > span {
    font-size: 16px;
    margin-top: -3px;
    margin-right: 2px; }

.handle-withdraw {
  background-color: #ebc445; }
  .handle-withdraw:hover {
    background-color: #d0ab3d; }

.handle-der {
  background-color: #019FE8; }
  .handle-der:hover {
    background-color: #46A8F0; }
  .handle-der > span {
    font-size: 16px; }

/***************** 收支统计搜索 ****************/
.table-handle-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.table-handle-input {
  width: 150px;
  height: 35px !important;
  padding-left: 15px;
  font-size: 14px;
  background-color: white;
  border: 1px #E2E3E2 solid !important;
  margin-right: 10px; }

.table-handle-select {
  width: 80px;
  height: 37px;
  font-size: 14px;
  padding-left: 10px;
  background-color: white;
  border: 1px #E2E3E2 solid;
  margin-right: 10px;
  cursor: pointer; }

.table-handle-submit {
  padding: 0px 15px;
  height: 37px;
  line-height: 37px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #3e93d2;
  cursor: pointer; }
  .table-handle-submit:hover {
    background-color: #3379ac; }

.chartout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

#chart {
  padding: 10px 0px;
  width: 800px;
  height: 300px; }

#chart1 {
  padding: 10px 0px;
  width: 800px;
  height: 300px; }

.allData {
  padding-top: 60px;
  max-width: 200px; }
  .allData > p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px #E2E3E2 solid;
    padding: 10px 0px;
    font-size: 14px; }
    .allData > p > span:first-of-type {
      color: #333333; }
  .allData > div {
    font-size: 14px;
    color: gray; }

.table {
  border-collapse: collapse;
  width: 100%; }
  .table > thead {
    border-bottom: 1px #dddddd solid;
    text-align: left;
    color: #96a2a8;
    font-size: 15px; }
    .table > thead > tr > th:first-of-type {
      text-align: center; }
      .table > thead > tr > th:first-of-type > input {
        display: none; }
      .table > thead > tr > th:first-of-type > input:checked + label {
        background-color: #529af5;
        border-color: #529af5;
        color: white; }
      .table > thead > tr > th:first-of-type > label {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 22px;
        text-align: center;
        border: 1px #dddddd solid;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;
        color: transparent; }
        .table > thead > tr > th:first-of-type > label > span {
          font-size: 14px;
          font-weight: bolder;
          margin-top: -5px; }
    .table > thead > tr > th {
      height: 40px;
      line-height: 40px;
      position: relative; }
      .table > thead > tr > th:hover > .table-screening {
        display: block; }
      .table > thead > tr > th > .arrow_carrot-down {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        font-weight: bold;
        margin-top: -5px; }
      .table > thead > tr > th > .table-screening {
        display: none;
        position: absolute;
        top: 40px;
        left: 0px;
        padding-top: 20px;
        background-color: white;
        border: 1px #E2E3E2 solid;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 1px 1px 2px 1px #e6e6e6;
        -webkit-box-shadow: 1px 1px 2px 1px #e6e6e6;
        box-shadow: 1px 1px 2px 1px #e6e6e6;
        line-height: 0px; }
        .table > thead > tr > th > .table-screening > label {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          cursor: pointer;
          margin-left: 15px;
          margin-right: 15px; }
          .table > thead > tr > th > .table-screening > label > span {
            color: #666666;
            font-weight: normal;
            white-space: nowrap; }
          .table > thead > tr > th > .table-screening > label > input {
            display: none; }
          .table > thead > tr > th > .table-screening > label > input:checked + label {
            background-color: #529af5;
            border-color: #529af5; }
          .table > thead > tr > th > .table-screening > label > input:checked + label + span {
            color: #529af5; }
          .table > thead > tr > th > .table-screening > label > label {
            display: inline-block;
            width: 12px;
            height: 12px;
            line-height: 12px;
            border: 1px #E2E3E2 solid;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            margin-right: 8px;
            cursor: pointer;
            background-color: white; }
            .table > thead > tr > th > .table-screening > label > label > span {
              font-size: 12px;
              font-weight: bolder;
              color: white; }
        .table > thead > tr > th > .table-screening > label + label {
          margin-top: 12px; }
        .table > thead > tr > th > .table-screening > .table-screening-sub {
          margin-top: 20px;
          border-top: 1px #E2E3E2 solid;
          padding-top: 7px;
          padding-bottom: 7px;
          text-align: center; }
          .table > thead > tr > th > .table-screening > .table-screening-sub > input {
            border: none;
            background-color: white;
            font-size: 14px;
            color: #333333;
            cursor: pointer;
            padding: 0px 10px; }
            .table > thead > tr > th > .table-screening > .table-screening-sub > input:hover {
              color: #429ee2; }
      .table > thead > tr > th > .table-rank {
        display: block;
        height: 100%;
        background-color: white;
        border: none;
        text-align: left;
        color: #96a2a8;
        font-size: 15px;
        font-weight: bold; }
        .table > thead > tr > th > .table-rank > span {
          vertical-align: middle;
          display: -webkit-inline-box;
          display: -webkit-inline-flex;
          display: -moz-inline-flex;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-flex-flow: column nowrap;
          -moz-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
          .table > thead > tr > th > .table-rank > span > span + span {
            margin-top: -5px; }
          .table > thead > tr > th > .table-rank > span > .choi {
            color: red; }
    .table > thead > tr > .choi {
      color: red; }
  .table > tbody > tr {
    color: #99a5ab;
    font-size: 13px;
    height: 45px;
    line-height: 45px; }
    .table > tbody > tr:hover {
      background-color: #e9e9e9; }
    .table > tbody > tr > td:first-of-type {
      text-align: center; }
      .table > tbody > tr > td:first-of-type > input {
        display: none; }
      .table > tbody > tr > td:first-of-type > input:checked + label {
        background-color: #529af5;
        border-color: #529af5;
        color: white; }
      .table > tbody > tr > td:first-of-type > label {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 22px;
        text-align: center;
        border: 1px #dddddd solid;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;
        color: transparent;
        background-color: white; }
        .table > tbody > tr > td:first-of-type > label > span {
          font-size: 14px;
          font-weight: bolder;
          margin-top: -5px; }
  .table > tbody > tr:nth-of-type(odd) {
    background-color: #f3f4f6; }

.warn > td {
  color: #fa837c; }

.table-handle-item {
  padding: 3px 5px;
  border: 1px #d9d9d9 solid;
  background-color: white;
  font-size: 14px;
  white-space: nowrap; }
  .table-handle-item:hover {
    background-color: #d4d4d4;
    color: #585858; }
  .table-handle-item > span {
    margin-right: 3px; }

.table-info {
  color: #84b370; }

.table-edit {
  color: #74beef; }

.table-delete, .table-deletePassword {
  color: #f65e53; }

.table-get {
  color: #e58039; }

.table-withdraw {
  color: #ebc445; }

.table-change {
  color: #45A947; }

.table-sign {
  color: #705BCD; }

.table-signNote {
  color: #415BAE; }

.table-binding {
  color: #666666; }

.table-page {
  padding: 20px 0px;
  text-align: right;
  border-bottom: 1px #dddddd solid; }

.page-cell {
  padding: 5px 10px;
  border: 1px #dddddd solid;
  color: #4faaea;
  font-size: 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .page-cell:hover {
    background-color: #4faaea;
    color: white;
    border-color: #4faaea; }

.form {
  padding-bottom: 40px; }

.form-cell {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.radios {
  display: block; }
  .radios > input {
    display: none; }
  .radios > div {
    position: relative;
    width: 50px;
    height: 25px;
    background: gainsboro;
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; }
    .radios > div > span {
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 23px;
      height: 23px;
      background: white;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
  .radios > input:checked + div {
    background: #4882ce; }
    .radios > input:checked + div > span {
      left: auto;
      right: 1px; }

.package-add {
  border: none;
  color: white;
  background-color: #3FB33D;
  padding: 8px 15px; }
  .package-add:hover {
    background-color: #2D892B; }

.package-del {
  border: none;
  color: white;
  background-color: #CF4242;
  padding: 8px 15px;
  margin-left: 10px; }
  .package-del:hover {
    background-color: #BF3B3B; }

.package {
  border-bottom: 1px #D9D9D9 solid;
  padding-bottom: 10px; }

.form-cell-title {
  display: inline-block;
  height: 100%;
  width: 170px;
  font-size: 14px;
  color: #999999;
  padding-right: 30px;
  text-align: right; }

.form-cell-input {
  display: inline-block;
  width: 380px;
  height: 40px;
  font-size: 14px;
  padding-left: 10px;
  border: 1px #cccccc solid; }

.form-select {
  isplay: inline-block;
  width: 392px;
  height: 40px;
  font-size: 14px;
  padding-left: 10px;
  border: 1px #cccccc solid;
  background-color: white;
  -webkit-appearance: none; }

.form-textarea {
  width: 390px;
  height: 100px;
  text-indent: 10px;
  font-size: 14px;
  border: 1px #cccccc solid; }

.form-cell-right > input {
  display: none; }
.form-cell-right > input:checked + label > label {
  border-color: #619aee;
  color: #619aee; }
.form-cell-right > label {
  cursor: pointer;
  margin-right: 30px; }

.bankPerfect {
  border: none;
  background-color: #5292cd;
  color: white;
  padding: 8px 15px;
  cursor: pointer; }
  .bankPerfect:hover {
    background-color: #4478a8; }

.form-cell-right1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }
  .form-cell-right1 > label {
    margin-bottom: 10px; }

.form-radio {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border: 1px #cccccc solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  color: white;
  font-size: 12px;
  cursor: pointer; }

.form-titles {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.form-time {
  height: 40px !important;
  border: 1px #cccccc solid !important;
  width: 200px;
  margin-right: 20px; }

.form-timeText {
  font-size: 14px; }

.input-min {
  width: 150px; }

.input-small {
  width: 100px; }

.form-cell-hint {
  color: #999999;
  font-size: 14px;
  line-height: 30px; }

.form-cell-other {
  font-size: 14px; }

.form-radioText {
  font-size: 14px; }

.form-code {
  width: 120px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  background-color: #5392cd;
  color: white;
  text-align: center;
  cursor: pointer; }
  .form-code:hover {
    background-color: #3379ac; }

.form-cell-submit {
  margin-top: 30px;
  padding-left: 200px; }

.hint {
  padding-left: 175px; }

.form-submit {
  padding: 10px 17px;
  border: none;
  background-color: #3e93d2;
  color: white;
  font-size: 15px; }
  .form-submit:hover {
    background-color: #3379ac; }

.form-cell-info {
  width: 35%; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #c9c9c9; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c9c9c9; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c9c9c9; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #c9c9c9; }

/******************************会员部分****************************/
.con {
  background-color: transparent; }

.home-out {
  /*padding-left: 50px;*/
  width: 900px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .home-out > li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background-color: white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-right: 70px;
    margin-top: 20px; }
    .home-out > li > p {
      padding: 20px 40px; }
    .home-out > li > p:first-of-type {
      color: #333333;
      letter-spacing: 5px;
      text-indent: 5px;
      text-align: center;
      font-size: 18px;
      border-bottom: 1px #E2E3E2 solid; }
    .home-out > li > p:last-of-type {
      font-size: 22px;
      text-align: center; }

/*.home-name{
     background-color: #4f98d6;
     margin-left: 225px;
     margin-bottom: -60px;
}
.home-nameText{
     color: #4f98d6;
}

.home-integralj{
     background-color: #844ba8;
     margin-left: 225px;
     margin-top: -60px;
}
.home-integraljText{
     color: #844ba8;
}

.home-integralh{
     background-color: #d75b5e;
}
.home-integralhText{
     color: #d75b5e;
}

.home-integraly{
     background-color: #61c3d0;
}
.home-integralyText{
     color: #61c3d0;
}*/
.pops {
  width: 60%;
  z-index: 1000020; }
  .pops > .icon_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333333;
    cursor: pointer; }
  .pops .pop-text {
    font-size: 18px;
    padding: 15px 0px;
    text-align: left;
    text-indent: 20px; }
  .pops .pop-hint {
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding: 10px 0px; }
  .pops .binding-account-hint {
    color: red;
    font-size: 14px;
    text-align: center; }
  .pops .binding-inputOut {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 20px 0px; }
    .pops .binding-inputOut .binding-text {
      font-size: 16px;
      color: #333333;
      margin-right: 15px;
      margin-left: 20%; }
    .pops .binding-inputOut .binding-input {
      display: inline-block;
      width: 260px;
      height: 35px;
      font-size: 16px;
      padding-left: 10px;
      background-color: white;
      border: 1px #E2E3E2 solid;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
  .pops .reading-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-left: 40px;
    padding-right: 40px; }
    .pops .reading-content > li {
      padding-top: 20px;
      text-align: left; }
    .pops .reading-content > li:nth-of-type(1) {
      width: 35%; }
    .pops .reading-content > li:nth-of-type(2) {
      width: 65%; }
    .pops .reading-content > li:nth-of-type(3) {
      width: 35%; }
    .pops .reading-content > li:nth-of-type(4) {
      width: 25%; }
    .pops .reading-content > li:nth-of-type(5) {
      width: 40%; }
    .pops .reading-content > li:nth-of-type(6) {
      width: 35%; }
    .pops .reading-content > li:nth-of-type(7) {
      width: 65%; }
    .pops .reading-content > li:nth-of-type(8) {
      width: 35%; }
    .pops .reading-content > li:nth-of-type(9) {
      width: 65%; }
    .pops .reading-content .member-integral {
      color: red; }
  .pops .read-memberNote {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .pops .read-memberNote > span {
      -webkit-align-self: flex-start;
      -moz-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      margin-right: 15px; }
    .pops .read-memberNote > textarea {
      display: block;
      width: 70%;
      height: 80px;
      padding: 8px;
      font-size: 14px;
      border: 1px #666666 solid;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .pops .read-memberNote > button {
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      background-color: #5FBAED;
      padding: 6px 14px;
      font-size: 14px;
      color: white;
      border: none;
      margin-left: 10px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px; }
  .pops .pop-btnOut {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 30px; }
    .pops .pop-btnOut .pop-btn {
      padding: 7px 20px;
      font-size: 16px;
      background-color: #44a1e3;
      color: white;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin-right: 20px; }
    .pops .pop-btnOut .pop-btn1 {
      background-color: #E2E3E2;
      color: #333333; }

#card-reading {
  padding: 5px 17px;
  background-color: #D96280;
  color: white;
  border: none;
  font-size: 16px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }
  #card-reading:hover {
    background-color: #F46D91; }

.readLoading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9; }
  .readLoading > p {
    position: absolute;
    top: 50%;
    margin-top: 25px;
    font-size: 14px;
    width: 100%;
    text-align: center; }

.loadingz {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -17px; }

#downloadReader {
  font-size: 14px;
  text-decoration: underline;
  color: #666666;
  margin-left: 20px; }
  #downloadReader:hover {
    color: #cb6980; }

.letterDel {
  padding: 5px 17px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  background-color: #c16056;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 20px; }

#addLetter {
  padding: 10px 17px;
  border: none;
  background-color: #84b370;
  color: white;
  font-size: 15px;
  margin-right: 15px; }

/*# sourceMappingURL=index.css.map */
